<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" th:text="Главная" th:href="'/'"></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container" id="item">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <img class='img-thumbnail' th:src="@{'/images/' + ${item.filename}}" alt="Картинка"/>
            </div>
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Название: <p th:text="${item.name}"></p></li>
                    <li class="list-group-item">Цвет: <p th:text="${item.color}"></p></li>
                    <li class="list-group-item">Размер: <p th:text="${item.size}"></p></li>
                    <li class="list-group-item">Бренд: <p th:text="${item.brand}"></p></li>
                    <li class="list-group-item">Цена: <p th:text="${item.price} + ' &#8381;'"></p></li>
                    <br>
                    <li class="list-group-item" th:if="${user != 'anonymous'}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <button type="button" th:onclick="|addInOrder(${item.id})|" class="btn btn-primary">
                                        В корзину
                                    </button>
                                </div>
                                <div class="col">
                                    <div class="col" id="status"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <form th:action="'/buy/' + ${item.id}" th:if="${user == 'anonymous'}">
        <div class="d-grid gap-2 col-114 mx-auto">
            <button type="submit" class="btn btn-primary">Купить</button>
        </div>
    </form>
</div>
<script>
    function addInOrder(id) {
        $.ajax({
            url: "/order/" + id,
            method: "post",
            cache: false,
            dataType: "html",
            data: {
                // nothing
            },
            success: function (data) {
                let status = document.getElementById('status');
                status.innerText = data;
                setTimeout(function () {
                    status.innerText = '';
                }, 1000)
            }
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
