<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="d-flex container-fluid">
        <ul class="navbar-nav">
            <li class="ms-3 nav-item">
                <a class="nav-link active" th:href="'/'">Главная</a>
            </li>
        </ul>
        <div class="d-flex container-fluid justify-content-end">
            <ul class="mx-3 navbar-nav">
                <li class="nav-item" th:if="${user == 'anonymous'}">
                    <a class="nav-link active" th:text="Вход" th:href="@{/login}"></a>
                </li>
                <li class="nav-item" th:if="${user == 'anonymous'}">
                    <a class="nav-link active" th:href="@{/registration}">Регистрация</a>
                </li>
                <li class="nav-item mt-1" th:if="${user != 'anonymous'}">
                    <a class="nav-link active" th:text="${user}" th:href="'/cabinet/' + ${user}"></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active" th:if="${user != 'anonymous'}" th:href="'/order'">
                        <img th:src="@{/images/basket.png}" alt="Корзина">
                    </a>
                </li>
            </ul>
            <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post" class="d-flex">
                <button class="btn btn-danger" type="submit">Выйти</button>
            </form>
        </div>
    </div>
</nav>
<br>
<div class="container" id="item">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <img class='img-thumbnail' th:src="@{'/images/' + ${item.filename}}" alt="Картинка"/>
            </div>
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Название: <p th:text="${item.name}"></p></li>
                    <li class="list-group-item">Цвет: <p th:text="${item.color}"></p></li>
                    <li class="list-group-item">Размер: <p th:text="${item.size}"></p></li>
                    <li class="list-group-item">Бренд: <p th:text="${item.brand}"></p></li>
                    <li class="list-group-item">Цена: <p th:text="${item.price} + ' &#8381;'"></p></li>
                    <br>
                    <li class="list-group-item" th:if="${user != 'anonymous'}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="mx-2 my-2 col">
                                    <button type="button" th:onclick="|addInOrder(${item.id})|" class="btn btn-primary">
                                        В корзину
                                    </button>
                                </div>
                                <div class="col">
                                    <div class="mx-2 my-2 col" id="status"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <form th:action="'/buy/' + ${item.id}" th:if="${user == 'anonymous'}">
        <div class="d-grid gap-2 col-114 mx-auto">
            <button type="submit" class="btn btn-primary">Купить</button>
        </div>
    </form>
</div>

<div class="container-fluid bg-secondary text-white">
    <footer class="py-5">
        <div class="row">
            <div class="col-1">
                <h5>Помощь</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Главная</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Цены</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">О нас</a></li>
                </ul>
            </div>

            <div class="col-8 offset-1">
                <form>
                    <h5>Подпишитесь на наши новости</h5>
                    <p>Новинки одежды, обуви и аксессуаров</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Эл. почта</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email">
                        <button class="btn btn-primary" type="button">Подписаться</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2021 Компания. Все права защищены.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </div>
    </footer>
</div>

<script>
    function addInOrder(id) {
        $.ajax({
            url: "/order/" + id,
            method: "post",
            cache: false,
            dataType: "html",
            data: {
                // nothing
            },
            success: function (data) {
                let status = document.getElementById('status');
                status.innerText = data;
                setTimeout(function () {
                    status.innerText = '';
                }, 1000)
            }
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
