<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Заказ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" th:text="Главная" th:href="'/'"></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <h1>Оформление заказа</h1>
    <hr>
    <div class="container">
        <button th:if="${cart.size()} > 0" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Оформить заказ
        </button>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartElement : ${cart}">
                <td th:text="${cartElement.item.name}"></td>
                <td>1</td>
                <td th:text="${cartElement.item.price} + ' &#8381;'"></td>
                <td><a class="nav-link active" th:onclick="|deleteItem(${cartElement.id})|">Удалить</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th scope="col"></th>
                <td></td>
                <td></td>
                <td th:text="${sum} + ' &#8381;'"></td>
                <td></td>
                <td></td>
                <td th:text="${sum} + ' &#8381;'"></td>
            </tr>
            </tfoot>
        </table>
        <p th:if="${cart.size()} == 0">В корзине пусто</p>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
