<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .img-thumbnail {
            width: 200px;
            height: 250px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="d-flex container-fluid">
        <ul class="navbar-nav">
            <li class="ms-3 nav-item dropdown dropdown-hover-all">
                <a class="navbar-link" id="dropdownMenuButton222"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   onclick="getCategories()">
                    <img th:src="@{/images/hamburger.png}" alt="Каталог">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton222" id="categories"></div>
            </li>
            <li class="ms-3 nav-item">
                <a class="nav-link active" th:href="'/'">Главная</a>
            </li>
        </ul>
        <div class="d-flex container-fluid justify-content-end">
            <form th:action="'/search'" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"
                       name="search" required>
                <button class="btn btn-light" type="submit">Найти</button>
            </form>
            <ul class="mx-3 navbar-nav">
                <li class="nav-item" th:if="${user == 'anonymous'}">
                    <a class="nav-link active" th:text="Вход" th:href="@{/login}"></a>
                </li>
                <li class="nav-item" th:if="${user == 'anonymous'}">
                    <a class="nav-link active" th:href="@{/registration}">Регистрация</a>
                </li>
                <li class="nav-item mt-1" th:if="${user != 'anonymous'}">
                    <a class="nav-link active" th:text="${user}" th:href="'/cabinet/' + ${user}"></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active" th:if="${user != 'anonymous'}" th:href="'/order'">
                        <img th:src="@{/images/basket.png}" alt="Корзина">
                    </a>
                </li>
            </ul>
            <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post" class="d-flex">
                <button class="btn btn-danger" type="submit">Выйти</button>
            </form>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid d-md-flex justify-content-around" id="items">
    <div class="card mb-4 shadow-lg" th:each="item : ${items}">
        <a class="nav-link active" th:href="@{'/catalog/items/' + ${item.id}}">
            <img class="img-thumbnail " th:src="@{'/images/' + ${item.filename}}" alt="Картинка"/>
        </a>
        <p class="mx-3" th:text="${item.name}"></p>
        <p class="mx-3" th:text="${item.price} + ' &#8381;'"></p>
    </div>
</div>
<div class="container">
    <nav aria-label="Pages">
        <ul class="pagination justify-content-md-center" id="pages">
            <li class="page-item" th:each="page : ${pages}">
                <a class="page-link" th:if="${category_id == null}" th:href="'/catalog/?page=' + ${page}"
                   th:text="${page + 1}"></a>
                <a class="page-link" th:if="${category_id != null}"
                   th:href="'/items/' + ${category_id} + '?page=' + ${page}" th:text="${page + 1}"></a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
</script>
<script>
    let allCategories;
    let categories = document.getElementById("categories");

    function getCategories() {
        $.ajax({
            url: "/categories/all",
            method: "post",
            cache: false,
            dataType: "html",
            data: {
                // nothing
            },
            success: function (data) {
                categories.innerHTML = "";

                allCategories = JSON.parse(data);
                for (let i = 0; i < allCategories.length; i++) {
                    if (allCategories[i].category == null) {
                        createChild(allCategories[i].id, allCategories[i].name, categories, 1);
                    } else {
                        let parent = document.getElementById("t_" + allCategories[i].category.id);
                        createChild(allCategories[i].id, allCategories[i].name, parent, allCategories[i].id);
                    }
                }

                function createChild(id, text, parent, category_id) {
                    let node = document.createElement("div");
                    node.className = "dropdown dropend";
                    node.innerHTML = `<a class="dropdown-item" data-bs-toggle="dropdown" onclick="getItemsByCategoryId(${category_id}, 0)">${text}</a><div class="dropdown-menu" aria-labelledby="dropdown-layouts" id="t_${id}" ><a class="dropdown-item"></a>`;
                    parent.appendChild(node);
                }

                (function ($bs) {
                    const CLASS_NAME = 'has-child-dropdown-show';
                    $bs.Dropdown.prototype.toggle = function (_orginal) {
                        return function () {
                            document.querySelectorAll('.' + CLASS_NAME).forEach(function (e) {
                                e.classList.remove(CLASS_NAME);
                            });
                            let dd = this._element.closest('.dropdown').parentNode.closest('.dropdown');
                            for (; dd && dd !== document; dd = dd.parentNode.closest('.dropdown')) {
                                dd.classList.add(CLASS_NAME);
                            }
                            return _orginal.call(this);
                        }
                    }($bs.Dropdown.prototype.toggle);

                    document.querySelectorAll('.dropdown').forEach(function (dd) {
                        dd.addEventListener('hide.bs.dropdown', function (e) {
                            if (this.classList.contains(CLASS_NAME)) {
                                this.classList.remove(CLASS_NAME);
                                e.preventDefault();
                            }
                            e.stopPropagation();
                        });
                    });

                    document.querySelectorAll('.dropdown-hover, .dropdown-hover-all .dropdown').forEach(function (dd) {
                        dd.addEventListener('mouseenter', function (e) {
                            let toggle = e.target.querySelector(':scope>[data-bs-toggle="dropdown"]');
                            if (!toggle.classList.contains('show')) {
                                $bs.Dropdown.getOrCreateInstance(toggle).toggle();
                                dd.classList.add(CLASS_NAME);
                                $bs.Dropdown.clearMenus();
                            }
                        });
                        dd.addEventListener('click', function (e) {
                            $bs.Dropdown.clearMenus();
                        });
                    });
                })(bootstrap);

                document.querySelectorAll('a').forEach(value => {
                    if (value.lastChild == null) {
                        value.remove();
                    }
                });

                document.querySelectorAll('.dropdown-menu').forEach(value => {
                    if (value.lastChild == null) {
                        value.setAttribute('style', 'display: none');
                    }
                });
            }
        });
    }

    function getItemsByCategoryId(category_id, page) {
        document.location.href = "/items/" + category_id + "?page=" + page;
    }

    function getPagination(category_id, page) {
        getItemsByCategoryId(category_id, page);
    }
</script>
</body>
</html>
