<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        img {
            width: 200px;
            height: 150px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="d-flex dropdown-hover-all">
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button"
                            id="dropdownMenuButton222"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            onclick="getCategories()">
                        Каталог
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton222" id="categories">

                    </div>
                </div>
            </div>
            <a th:if="${user != 'anonymous'}" th:href="'/order'">
                <button class="btn btn-light">Корзина</button>
            </a>
        </div>
        <form th:action="'/search'" class="d-flex gap-2 col-6 mx-auto">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"
                   name="search">
            <button class="btn btn-warning" type="submit">Найти</button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" th:if="${user == 'anonymous'}">
                    <a class="nav-link" th:text="Вход" th:href="@{/login}"></a>
                </li>
                <li class="nav-item" th:if="${user == 'anonymous'}">
                    <a class="nav-link" th:href="@{/registration}">Регистрация</a>
                </li>
                <li class="nav-item" th:if="${user != 'anonymous'}">
                    <a class="nav-link" th:text="${user}" th:href="'/cabinet/' + ${user}"></a>
                </li>
            </ul>
        </form>
        <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post" class="d-flex">
            <button class="btn btn-danger" type="submit">Выйти</button>
        </form>
    </div>
</nav>
<br>
<div class="container">
    <div th:each="item : ${items}">
        <a th:href="'/catalog/items/' + ${item.id}">
            <img class='img-thumbnail' th:src="@{'/images/' + ${item.filename}}" alt="Картинка"/>
            <p th:text="${item.name}"></p>
            <p th:text="${item.price}"></p>
        </a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    let allCategories;
    let categories = document.getElementById("categories");

    function getCategories() {
        $.ajax({
            url: "/categories/all",
            method: "post",
            cache: false,
            dataType: "html",
            data: {
                // nothing
            },
            success: function (data) {
                categories.innerHTML = "";

                allCategories = JSON.parse(data);
                for (let i = 0; i < allCategories.length; i++) {
                    if (allCategories[i].category == null) {
                        createChild(allCategories[i].id, allCategories[i].name, categories, 0);
                    } else {
                        let parent = document.getElementById("t_" + allCategories[i].category.id);
                        if (allCategories[allCategories[i].category.id - 1].category != null) {
                            createChild(allCategories[i].id, allCategories[i].name, document.getElementById("t_" + allCategories[i].category.id)
                                , allCategories[i].id);
                        } else {
                            createChild(allCategories[i].id, allCategories[i].name, parent, allCategories[i].id);
                        }
                    }
                }

                function createChild(id, text, parent, category_id) {
                    let node = document.createElement("div");
                    node.className = "dropdown dropend";
                    node.innerHTML = '<a class="dropdown-item" data-bs-toggle="dropdown" onclick="getItemsByCategoryId(' + category_id + ')">' + text + '</a>'
                        + '<div class="dropdown-menu" aria-labelledby="dropdown-layouts" id="t_' + id + '" '
                        + '>' + '<a class="dropdown-item"></a>';
                    parent.appendChild(node);
                }

                (function($bs) {
                    const CLASS_NAME = 'has-child-dropdown-show';
                    $bs.Dropdown.prototype.toggle = function(_orginal) {
                        return function() {
                            document.querySelectorAll('.' + CLASS_NAME).forEach(function(e) {
                                e.classList.remove(CLASS_NAME);
                            });
                            let dd = this._element.closest('.dropdown').parentNode.closest('.dropdown');
                            for (; dd && dd !== document; dd = dd.parentNode.closest('.dropdown')) {
                                dd.classList.add(CLASS_NAME);
                            }
                            return _orginal.call(this);
                        }
                    }($bs.Dropdown.prototype.toggle);

                    document.querySelectorAll('.dropdown').forEach(function(dd) {
                        dd.addEventListener('hide.bs.dropdown', function(e) {
                            if (this.classList.contains(CLASS_NAME)) {
                                this.classList.remove(CLASS_NAME);
                                e.preventDefault();
                            }
                            e.stopPropagation();
                        });
                    });

                    document.querySelectorAll('.dropdown-hover, .dropdown-hover-all .dropdown').forEach(function(dd) {
                        dd.addEventListener('mouseenter', function(e) {
                            let toggle = e.target.querySelector(':scope>[data-bs-toggle="dropdown"]');
                            if (!toggle.classList.contains('show')) {
                                $bs.Dropdown.getOrCreateInstance(toggle).toggle();
                                dd.classList.add(CLASS_NAME);
                                $bs.Dropdown.clearMenus();
                            }
                        });
                        dd.addEventListener('click', function (e) {
                            $bs.Dropdown.clearMenus();
                        });
                    });
                })(bootstrap);

                document.querySelectorAll('a').forEach(value => {
                    if (value.lastChild == null) {
                        value.remove();
                    }
                });

                document.querySelectorAll('.dropdown-menu').forEach(value => {
                    if (value.lastChild == null) {
                        value.setAttribute('style', 'display: none');
                    }
                });
            }
        });
    }

    function getItemsByCategoryId(category_id) {
        $.ajax({
            url: "/items/" + category_id,
            method: "post",
            cache: false,
            dataType: "html",
            data: {
                // nothing
            },
            success: function (data) {
                console.log(category_id + '    ------------------------------    ' + data);
            }
        });
    }
</script>
</body>
</html>
